@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(144,195,200);
    margin: 1rem;
}
html{
    font-family: 'Open Sans', sans-serif;
}
.wrapper-container{
    background-color: #ebeae9;
}

/* Nav Start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
    margin-bottom: 5rem;
}

nav ul{
    margin-left: 5rem;
    list-style: none;
}

li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}

nav .burger{
    margin-right: 5rem;
    cursor: pointer;
}

nav .burger span{
    height: 4px;
    border: 2px solid #000;
    margin: 4px;
    background-color: #000;
}
/* Nav End */
/* Header Start */
header{
    margin: 6rem;
}
.main-headings{
    width: 50%;
    font-size: 3rem;
    font-weight: 600;
}
.primary-headings{
    width: 50%;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 30px;
}

.bg-gray{
    background: rgb(53,53,53);
    color: #fff;
    padding: 2px;
    font-weight: 600;
}
/* Header End */
/* main start */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

main .img{
    width: 40%;
    margin: 10px;
}

/* Main End */
/* section 3 start */
.section-three{
    margin-left: 5rem;
}
.section-three .primary-headings{
    margin-bottom: 10rem;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-three .item h1{
font-size: 2rem;
color: rgb(97, 97, 97);
}

.section-three img{
    width: 400px;
    height: 500px;
    margin: 50px;
}
/* section 3 end */
/* footer start */
footer{
    margin-top: 10rem;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: rgb(144,195,200);
    padding: 25px 0;
}

footer .logo-container h1{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

footer .logo-container{
    max-width: 400px;
    font-family: sans-serif;
    line-height: 25px;
}

footer .about-company{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer .about-company .container{
    margin-right: 40px;
    margin-top: 20px;
}

.about-company .container h1{
    margin-bottom: 50px;
}
.about-company p{
    font-family: sans-serif;
    margin-bottom: 20px;
}
/* responsiveness */
@media screen and (max-width: 740px) {
    header .main-headings{
        width: 100%;
    }
    header .primary-headings{
        width: 100%;
        font-size: 1.5rem;
    }
    .section-three .main-headings, .section-three .primary-headings{
        width: 100%;
    }
    .section-three .primary-headings{
        font-size: 15px;
    }
    .section-three img{
        margin: 0;
    }
    footer{
        padding: 20px;
        font-size: 0.8rem;
    }
    footer .logo-container h1{
        font-size: 3rem;
        font-weight: 500;
    }
}